.App{
  background-color: #F5F5F5;
}

.AddItem{
  background-color: #FAFBFC;
}

.Content{
  background: "#f4f./logs.s4f4";
}

.Dashboard{
  font-weight: 600;
  font-size: medium;
  border-bottom: 1;
  border-width: 1;
  background-color: white ;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

}

.three-tab{
  width: 90%;
  margin: 20px auto;
}
.main{
  width: 90%;
  margin: 20px auto;
}
.Header{
  background-color: #223A4D;
}

.Avatar{
  background-color: white;
  color: red;
}

.tab-header{
  justify-content: left;
}